* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.navmain {
  position: relative;
  margin: 0 auto;
  height: 50px;
  width: 100%;
  display: block;
  background-color: #3c8dbc;
  z-index: 0;
}

.logo {
  background-color: #367fa9;
  color: #fff;
  border-bottom: 0 solid transparent;
  transition: width 0.3s ease-in-out;
  display: block;
  float: left;
  height: 100%;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  padding: 0 10px;
  font-weight: 300;
  overflow: hidden;
}

.logo-large {
  width: 210px;
}

.logo-small {
  width: 50px;
}

.sidebar-toggle {
  float: left;
  color: #fff;
  background-color: transparent;
  background-image: none;
  text-align: center;
  padding: 14px 20px;
  font-family: fontAwesome;
  height: 100%;
  font-size: 16px;
}

.sidebar-toggle:hover {
  background-color: #367fa9;
}

[role="button"] {
  cursor: pointer;
}

.navbar-menu {
  float: right;
}

.navbar-nav {
  list-style: none;
}

.navbar-nav li {
  float: left;
  position: relative;
  display: block;
}

.section-user {
  height: 100%;
  width: 220px;
  text-align: center;
  outline: none;
}

.section-user:hover {
  background-color: #367fa9;
}

.user-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
  border: 0;
  text-align: 30px;
}

.user-info {
  color: #fff;
  line-height: 50px;
  font-weight: 300;
  font-size: 14px;
}

.section-logout {
  color: #fff;
  height: 100%;
  background-color: transparent;
  background-image: none;
  text-align: center;
  padding: 14px 14px;
  font-family: fontAwesome;
  font-size: 14px;
}

.section-logout:hover {
  background-color: #367fa9;
}

.logout {
  margin-left: 5px;
  font-family: sans-serif;
  font-weight: 300;
}
