.content-canvas {
  height: calc(100vh - 60px);
  background-color: #ecf0f5;
  flex-grow: 1;
  overflow-y: scroll;
}

/* Content Header*/
.content-header {
  width: 100%;
  padding: 15px 15px 0 15px;
  color: #777;
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  margin-bottom: 30px;
}

.content-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}
