* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navmain {
  position: relative;
  margin: 0;
  height: 100%;
  width: 100%;
  display: block;
  background-color: #111111;
}

.logo {
  height: 100%;
  background-color: black;
  position: relative;
  display: block;
  float: left;
  font-weight: 300;
  color: #fff;
  font-size: 20px;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidebar-toggle {
  height: 60px;
  width: 60px;
  position: relative;
  float: left;
  text-align: center;
  font-family: fontAwesome;
  font-size: 16px;
  color: #fff;
}

.sidebar-toggle:hover {
  background: rgba(255, 255, 255, 0.2);
}

[role="button"] {
  cursor: pointer;
}

.navbar-menu {
  float: right;
}

.navbar-nav {
  list-style: none;
}

.navbar-nav li {
  float: left;
  position: relative;
  display: block;
}

.section-user {
  height: 100%;
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.section-user:hover {
  background: rgba(255, 255, 255, 0.2);
}

.user-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  color: #fff;
  line-height: 60px;
  font-weight: 300;
  font-size: 14px;
}

.section-logout {
  height: 60px;
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}

.section-logout:hover {
  background: rgba(255, 255, 255, 0.2);
}

.logout {
  margin-left: 5px;
  font-family: sans-serif;
  font-weight: 300;
}
